td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
td:hover{
background-color: yellow;
}
html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }
       #map {
        height: 100%;
      }

      .container {
        height: 100%;
        position: relative;
      }

      input {
        font-size: 12px;
      }

      h1 {
        color: #525454;
        font-size: 22px;
        margin: 0 0 10px 0;
        text-align: center;
      }

      .inputBox{
          width: 100%;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 15px;
          padding: 6px 10px 6px 10px;
          margin-bottom: 5px;
      }

      #scroller{
        overflow: auto;
        height: 100%;
      }

      #hide-listings,
      #show-listings {
        width: 48%;
        font-size: 15px;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        cursor: pointer;
      }
      .container{
        width: 100%;
        height: 100%;
      }

      .error{
        color: red;
      }

      .locationList{
        cursor: pointer;
        width: 100%;
        margin-left: 0px;
        padding-left: 2px;
      }
      .itemList{
        display: block;
        padding: 10px 15px;
        background-color: #fff;
        border: 1px solid #ddd;
      }
      .itemList:hover{
        background-color: grey;
      }

      .options-box {
        background: #fff;
        border: 1px solid #999;
        border-radius: 3px;
        height: 100%;
        padding: 10px 10px 30px 10px;
        text-align: left;
        overflow: auto;
      }

      @media (max-width: 991px){
        .options-box{
          height: 40%;
          width: 100%;
          margin-bottom: 20px;
        }
        #map{
          height: 58%;
          border: 3px solid #999;
        }
}